.section{
    height: 100vh;
    width: 95vw;
    background: transparent;
    color: black;
    background-attachment: fixed
}
.container{
    position: absolute;
    display: flex;
    height: 100vh;
    justify-content: space-between;
    padding: 10%;
    padding-left: 3%;
    z-index: 1;
    color: black;
}

.left{
    display: flex;
    flex-direction: column;
    color: rgb(0, 0, 0);
}
.text {
    
    color: black;
    font-size: 3rem;
    font-family: sans-serif;
    font-weight: lighter;
}

.btns{
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-top: 1rem;
}
.btns .icon{
    font-size: 38px;
    color: rgb(94, 91, 91);
    background: #7674755e;
    padding: 5px;
    border-radius: 5rem;
}

button{
    width: 4.5rem;
    font-size: 18px;
    font-weight: 600;
    background: rgb(255, 255, 255);
    border: none;
    border-radius: 10px;
}
button:nth-child(2){
    width: 13rem;
    height: 3.6rem;
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background: none;
    color: white;
}

 .logo{
    display: flex;
    position: relative;
    width:35vw;    
 }

.video{
    width:100%;
    height:100%
}

 @media only screen and (max-width: 750px){
    .section{
     scroll-snap-type-y: none;
       
    }
    .container{
        display: flex;
        flex-direction: column;
        margin-top: -4rem;
        align-items: center;
        justify-content: center;
        gap: 5rem;
        
    }
    .btns{
        display: none;
    }
    .logo{
        width: 50vw;
    }

 }